.item-card {
  border: 3px solid #e2e2e2;
  border-radius: 8px;
}

.card-img {
  border-radius: 8px 8px 0 0;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.15rem;
  margin-left: 0.5rem;
}

.card-paragraph {
  font-weight: 500;
  margin-left: 0.5rem;
}

.edit-button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Text color */
  border: none; /* Remove button border */
  padding: 5px 10px; /* Adjust padding as needed */
  cursor: pointer; /* Add pointer cursor on hover */
}

/* Style the button when hovering over it */
.edit-button:hover {
  background-color: #0056b3; /* Adjust color on hover */
}